#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 3px solid green;
    background-color: #000; /* This makes the "un-inked" squares look black/empty */
    margin: 0 auto;
}

.square {
    box-sizing: border-box;
    border: 0.1px solid rgba(255, 255, 255, 0.05);
}

#reset {
    display: block;
    margin: 20px auto;  /* 20px space on top/bottom, centered left/right */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 7px;
}

#reset:hover {
    background-color: #45a049; /* Darker green when hovering */
}